<h1 class="text-center">Create a comment</h1>

<%= form_with model: @comment, url: user_post_comments_path, method: :post, scope: :comment do |f| %>
    <div class="flex flex-col gap-4 items-center my-4">
        <div class="flex justify-start gap-4">
            <%= f.label :text, "Comment:" %>
            <%= f.text_area :text %>
        </div>
        <%= f.submit "Create comment", class: "py-1 px-2 border-solid border-black border-2" %>
    </div>
<% end %>